@charset "UTF-8";

/* 공통부분 */
.itemcontainer{
	background : #F1F1F1;
	margin-top : 2px;
	padding-top : 0px;
	border : 1px #EBEBEB solid;
}

.itemcontainer .justify-content-end{
	background : #FFFFFF;
	border-bottom : 1px #EBEBEB solid;
}

input {
	width : 100%;
	padding : 5px;
	border : 1px #EBEBEB solid;
	border-radius: 2px;
	background : #FFFFFF;
}

select {
	width : 100%;
	height : 100%;
	border : 1px #EBEBEB solid;
	border-radius: 2px;
	background : #FFFFFF;
}

div{
	padding : 3px 0px;
}

/* 상품목록테이블 */
#itemListHead{
	padding-bottom : 0px;
}

#itemListHead>div{
	padding-bottom : 0px;
}

#itemListHead table{
	width : 100%;
	padding-bottom : 0px;
	background : #FFFFFF;
	border : 1px #EBEBEB solid;
	border-bottom : 0px;
}

#itemListHead table th{
	height : 40px;
}
#itemListHead table th:nth-child(1){
	width : 4%;
}
#itemListHead table th:nth-child(3){
	width : 5%;
}
#itemListHead table th:nth-child(4){
	width : 8%;
}
#itemListHead table th:nth-child(5){
	width : 6%;
}
#itemListHead table th:nth-child(6){
	width : 8%;
}
#itemListHead table th:nth-child(7){
	width : 5%;
}
#itemListHead table th:nth-child(8){
	width : 9%;
}
#itemListHead table th:nth-child(9){
	width : 12%;
}

#itemListBody{
	padding-top : 0px;
}

#itemListBody>div{
	padding : 0px;
	margin : 0px 12px 30px;
	height : 58vh;
	border : 1px #EBEBEB solid;
	background : #FFFFFF;
	overflow-y: auto;
}

#itemListBody table{
	width : 100%;
	
}
#itemListBody table td:nth-child(1){
	width : 4%;
}
#itemListBody table td:nth-child(3){
	width : 5%;
}
#itemListBody table td:nth-child(4){
	width : 8%;
}
#itemListBody table td:nth-child(5){
	width : 6%;
}
#itemListBody table td:nth-child(6){
	width : 8%;
}
#itemListBody table td:nth-child(7){
	width : 5%;
}
#itemListBody table td:nth-child(8){
	width : 10%;
}
#itemListBody table td:nth-child(9){
	width : 10%;
}
#ItemTable td{
	padding : 20px 0px;
}