@charset "UTF-8";

/* 메인 바디컨테이너 */
#body_container{
	margin-top: 50px;
}

/* 바디컨테이너 임시 보더 */
/* #body_container *{
	border: 1px solid red;
} */

/* 텝 스타일지정 */
.tap-style{
	border: 1px solid #aaa;
	padding: 10px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 1px;
}
/* 페이지 버튼 */
#page_button i{
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	padding-right: 5px;
	padding-left: 5px;
}
/* 타이틀선택금지 */
.board_title{
	
}
