<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">
	<select id="selectOrderList" parameterType="OrderDetailDTO" resultType="OrderDetailDTO">
		SELECT  *
	FROM 	ORDERDETAILTABLE o INNER JOIN ORDERTABLE o2
									   ON o.ORDERNUM = o2.ORDERNUM 
								INNER JOIN MEMBERTABLE m 
										ON o2.MEMBERNUM = m.MEMBERNUM 
								INNER JOIN STORETABLE s 
									    ON o.STORENUM =s.STORENUM 
								INNER JOIN ITEMTABLE i 
										ON i.ITEMNUM =s.ITEMNUM 
								INNER JOIN (SELECT  o2.ordernum, COUNT(*) orderitemcount
											FROM 	ORDERDETAILTABLE o INNER JOIN ORDERTABLE o2
																			   ON o.ORDERNUM = o2.ORDERNUM 
											GROUP BY o2.ordernum) sub1
										ON o.ORDERNUM = sub1.ordernum
		<where> 
			<if test='orderDetailNum != null'>
				AND o.orderdetailnum = ${orderDetailNum}
			</if>
			<if test='orderDetailStatus != null'>
				AND o.orderdetailstatus = #{orderDetailStatus}
			</if>
		</where>
		ORDER BY o.ordernum
	</select>
</mapper>