<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartDAO">

	<select id="SelectCartID" resultType="HashMap"
		parameterType="CartDTO">
		SELECT c.cartitemcount cartitemcount,
		c.memberid memberid,
		c.guestid
		guestid,
		c.cartnum cartnum,
		c.itemnum itemnum,
		i.itemname itemname,
		i.itemprice itemprice,
		i.itemthumnail itemthumnail,
		i.itemunit itemunit
		<if test="memberId != null and memberId != ''"> ,
		m.membernum membernum,
		m.membername membername,
		m.membertel membertel,
		m.memberemail memberemail,
		m.memberaddr memberaddr,
		m.memberaddrdetail
		memberaddrdetail
		</if>
		FROM CARTTABLE c
		INNER JOIN ITEMTABLE i ON c.ITEMNUM =
		i.ITEMNUM 
		<if test="memberId != null and memberId != ''">
		INNER JOIN MEMBERTABLE m ON c.MEMBERID = m.MEMBERID
		</if>
		<where>
			<if test="memberId != null and memberId != ''">
				AND c.memberid = #{memberId}
			</if>
			<if test="guestId != null and guestId != ''">
				AND c.guestid = #{guestId}
			</if>
			<if test="cartNumArr != null">
				AND c.cartnum IN
				<foreach item="num" collection="cartNumArr" open="("
					close=")" separator=",">
					#{num}
				</foreach>
			</if>
		</where>
	</select>

	<update id="CartUpdateCount" parameterType="CartDTO">
		UPDATE CARTTABLE
		SET cartitemcount = #{cartItemCount}
		where itemnum =
		#{itemNum}
		<if test="memberId != ''">
			AND memberid = #{memberId}
		</if>
		<if test="guestId != ''">
			AND guestid = #{guestId}
		</if>

	</update>
	<delete id="deleteCartProduct" parameterType="CartDTO">
		DELETE FROM CARTTABLE
		WHERE itemnum = #{itemNum}
		<if test="memberId != ''">
			AND memberid = #{memberId}
		</if>
		<if test="guestId != ''">
			AND guestid = #{guestId}
		</if>
	</delete>


	<!-- 주문테이블에 넣기 -->
	<select id="CreateOrderNum" resultType="int">
		SELECT
		SEQUENCE_ORDERNUM.NEXTVAL FROM DUAL
	</select>
	<insert id="InsertOrder" parameterType="OrderDTO">
		INSERT INTO
		ORDERTABLE(ORDERNUM,MEMBERNUM,ORDERDATE,ORDERNAME,ORDERADDR,ORDERADDRDETAIL,ORDERREQUEST)
		VALUES(#{orderNum},#{memberNum},sysdate,#{orderName},#{orderAddr},#{orderAddrDetail},#{orderRequest})
	</insert>

	<!-- 주문상세테이블에 넣기 -->
	<insert id="InsertOrderDetail" parameterType="OrderDetailDTO">
		INSERT INTO
		ORDERDETAILTABLE(ORDERDETAILNUM,ORDERNUM,STORENUM,ORDERDETAILPRICE,ORDERDETAILCOUNT,ITEMNUM)
		VALUES(SEQUENCE_ORDERDETAILNUM.NEXTVAL,#{orderNum},#{storeNum},#{orderDetailPrice},#{orderDetailCount},#{itemNum})
	</insert>
	<!-- 입고중 날짜별로 출력 -->
	<select id="SelectStoreRowNum" resultType="StoreDTO"
		parameterType="OrderDetailDTO">
		SELECT STORENUM,SALECOUNT
		FROM(
		SELECT STORENUM, SALECOUNT,
		ROW_NUMBER() OVER (ORDER BY STOREEXPIRDATE ASC) AS row_num
		FROM STORETABLE
		WHERE ITEMNUM = #{itemNum}
		ORDER BY STOREEXPIRDATE ASC
		)
		WHERE row_num = #{rowNum}
	</select>
	<!-- 입고테이블 카운터 빼기 -->
	<update id="UpdateSaleCount" parameterType="OrderDetailDTO">
		UPDATE STORETABLE
		SET
		SALECOUNT = SALECOUNT - #{orderDetailCount}
		WHERE STORENUM = (
		SELECT STORENUM
		FROM(
		SELECT STORENUM, SALECOUNT,
		ROW_NUMBER() OVER (ORDER BY STOREEXPIRDATE ASC) AS row_num
		FROM STORETABLE
		WHERE ITEMNUM = #{itemNum}
		ORDER BY STOREEXPIRDATE ASC
		)
		WHERE row_num = #{rowNum}
		)
	</update>
	<!-- 카트에서 주문 완료된 상품 제거 -->
	<delete id="DeleteCart" parameterType="OrderDetailDTO">
		DELETE FROM CARTTABLE
		WHERE memberid = #{memberId} AND itemnum = #{itemNum}
	</delete>
</mapper>