<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemDAO">
	<insert id='ItemInsert' parameterType="ItemDTO">
		INSERT INTO itemtable(itemnum, bigcatenum ,smallcatenum, itemname, itemthumnail,realfilename, itemdetail,itemdetailsub, itemunit, itemorigin, itemvolume, itemallergyinfo, itemcost, itemprice, itemdate,   itemsupplier )
		VALUES (sequence_itemnum.nextval , #{bigCateNum}, #{smallCateNum}, #{itemName}, #{itemThumnail},#{realFileName} , #{itemDetail},#{itemDetailSub}, #{itemUnit}, #{itemOrigin}, #{itemVolume}, #{itemAllErgyinfo}, #{itemCost}, #{itemPrice}, sysdate, #{ itemSupplier})
	</insert>
	
	<select id="SelectItem" resultType="ItemDTO" parameterType="ItemDTO">
		SELECT *
		FROM   ITEMTABLE i INNER JOIN SMALLCATETABLE s 
							ON i.SMALLCATENUM = s.SMALLCATENUM 
						   INNER JOIN BIGCATETABLE b 
							ON b.BIGCATENUM = s.BIGCATENUM 
		<where>
			<if test='itemName != null'>
				AND i.itemname like '%${itemName}%'
			</if>
			<if test='bigCateName != null'>
				AND	b.bigcatename like '%${bigCateName}%'
			</if>
			<if test='smallCateName != null'>
				AND	s.smallcatename like '%${smallCateName}%'
			</if>	
			<if test=' itemSupplier != null'>
				AND	i.itemsupplier like '%${ itemSupplier}%'
			</if>
			<if test='itemDate != null'>
				AND	i.itemdate like '%${itemDate}%'
			</if>
		</where>
		ORDER BY i.itemnum
	</select>
	
	<select id="SelectItemOne" resultType="ItemDTO" parameterType="ItemDTO">
		SELECT *
		FROM   ITEMTABLE i INNER JOIN SMALLCATETABLE s 
							ON i.SMALLCATENUM = s.SMALLCATENUM 
						   INNER JOIN BIGCATETABLE b 
							ON b.BIGCATENUM = s.BIGCATENUM 
		WHERE i.itemnum = #{itemNum}
	</select>
	
	<insert id="itemStore" parameterType="StoreDTO">
		INSERT INTO storetable(storenum,itemnum,storecount,salecount,storeexpirdate,storeprice,storedate)
		VALUES (SEQUENCE_storenum.nextval,#{itemNum},#{storeCount},#{storeCount},#{storeExpirDate},#{storePrice},sysdate)
	</insert>
	
	<update id="itemUpdate" parameterType="ItemDTO">
		UPDATE itemtable
		SET   itemthumnail 	= #{itemThumnail}
			  ,itemname		= #{itemName}
			  ,smallcatenum 	= #{smallCateNum}
			  ,itemprice 	= #{itemPrice}
			  ,itemcost 		= #{itemCost}
			  ,itemorigin 	= #{itemOrigin}
			  ,itemvolume 	= #{itemVolume}
			  ,itemunit 		= #{itemUnit}
			  ,itemsupplier 	= #{itemSupplier}
			  ,itemallergyinfo = #{itemAllErgyinfo}
			  ,itemdetail 	= #{itemDetail}
			  
		WHERE itemnum = #{itemNum}
	</update>
</mapper>