<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreDAO">
	<select id="selectStoreList" resultType="storeDTO" parameterType="storeDTO">
		SELECT *
		FROM	(
					SELECT '입고' AS storestatus
						   , i.ITEMNAME itemname
						   , s.STOREPRICE storeprice
						   , s.STORECOUNT storecount
						   , s.STOREDATE storedate
						   , i.ITEMNUM itemnum
					FROM   STORETABLE s INNER JOIN ITEMTABLE i 
												ON s.ITEMNUM = i.ITEMNUM
					UNION 
					SELECT '출고' AS storestatus
						   , i.ITEMNAME itemname
						   , o.ORDERDETAILPRICE storeprice
						   , o.ORDERDETAILCOUNT storecount
						   , o.ORDERDETAILSALEDATE storedate 
						   , i.ITEMNUM itemnum
					FROM 	ORDERDETAILTABLE o INNER JOIN STORETABLE s 
													   ON o.STORENUM =s.STORENUM 
											   INNER JOIN ITEMTABLE i 
											   		   ON s.ITEMNUM =i.ITEMNUM 
					WHERE ORDERDETAILSALEDATE IS NOT NULL 
					
				) Store
		<where>
			<if test="storeStatus != null">
				AND Store.storestatus = #{storeStatus}
			</if>
			<if test="itemNum != null">
				AND Store.itemnum = #{itemNum}
			</if>
			<if test="year != null">
				AND TO_CHAR(Store.storedate,'yyyy') = #{year}
			</if>
			<if test="month != null">
				AND TO_CHAR(Store.storedate,'mm') = #{month}
			</if>
		</where>
		ORDER BY Store.storeDate ASC 
	</select>
	<select id="selectSalesList" resultType="storeDTO" parameterType="storeDTO">
		SELECT '출고' AS storestatus
						   , i.ITEMNAME itemname
						   , o.ORDERDETAILPRICE storeprice
						   , o.ORDERDETAILCOUNT storecount
						   , o.ORDERDETAILSALEDATE storedate 
						   , i.ITEMNUM itemnum
		FROM 	ORDERDETAILTABLE o INNER JOIN STORETABLE s 
										   ON o.STORENUM =s.STORENUM 
								   INNER JOIN ITEMTABLE i 
								   		   ON s.ITEMNUM =i.ITEMNUM 
		<where>
			ORDERDETAILSALEDATE IS NOT NULL 
			<if test="year != null">
				AND TO_CHAR(o.ORDERDETAILSALEDATE,'yyyy') = #{year}
			</if>
			<if test="month != null">
				AND TO_CHAR(o.ORDERDETAILSALEDATE,'mm') = #{month}
			</if>
		</where>
	</select>
</mapper>